* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  color: #fff;
  min-height: 667px;
  min-width: 375px;
  margin: 0 auto;
  background-color: #d0d1d1;
  height: 100vh;
  overflow: hidden;
}
.app {
  height: 100%;
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
li {
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
}
h3 {
  color: #404549;
  margin-bottom: 0.3rem;
}

.landing {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.landing__card {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: #404549;
  justify-content: center;
}

.landing__form {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-top: -2rem;
}

.landing__input {
  width: 20rem;
  height: 2rem;
  margin: 1rem;
  border-style: none;
  border-radius: 4px;
  box-shadow: 1px 2px 2px #5d6062;
}

.createRoom,
.room {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.createRoom__input {
  width: 20rem;
  height: 2rem;
  margin: 1rem;
  border-style: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 2px #5d6062;
}
.createRoom__aside,
.room__aside {
  display: flex;
  flex-direction: column;
  background-color: #404549;
  max-width: 300px;
  width: 250px;
  padding: 2rem;
}
.room__aside {
  transition: 0.5s;
  align-items: flex-start;
}
.createRoom__list,
.roomUsers__list {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 20%;
  list-style: none;
  text-align: left;
}
.createRoom__list--item {
  margin: 0.5rem;
  align-self: start;
  font-size: 1.2rem;
}
.createRoom__form {
  width: 100%;
  flex-direction: column;
  margin-top: -10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createRoom__userContainer {
  display: flex;
  justify-content: flex-start;
  height: 20%;
  width: 100%;
}
.createRoom__roomContainer,
.roomUsers__container {
  height: 80%;
  width: 100%;
  justify-content: space-between;
}

.room__options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}
.room__video {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 4rem;
}
.nav__header {
  color: #fff;
  align-self: flex-start;
  font-size: 1.5rem;
  border-width: 2px;
}
.nav__button {
  font-size: larger;
  padding-bottom: 1.5rem;
  align-self: flex-end;
}
.alert--light {
  color: #ffff;
  padding: 1rem;
  font-size: 1.2rem;
}
.alert--dark {
  color: #373535;
  padding: 1rem;
  font-size: 1.2rem;
}
.button {
  border-style: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #3c3b39;
  width: 14rem;
  height: 2rem;
  border-radius: 4px;
  color: #fbfaf5;
  font-size: 1rem;
}

.button--light {
  border-style: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  font-weight: bolder;
  width: 14rem;
  height: 2rem;
  border-radius: 4px;
  color: #3c3b39;
  box-shadow: 1px 2px 2px #5d6062;
  font-size: 1rem;
}

.button--small {
  width: 10rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.menu__btn {
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 1rem;
}

.material-icons.open {
  transition: all 0.5s ease-in-out;
  transform: rotate(180deg);
}
/*
.menu-btn__burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;

  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  display: flex;

  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
.menu-btn.open  {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
} */
.fs__wrapper {
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem;
  color: black;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__bar {
  background: rgb(216, 215, 215);
  width: 100%;
  height: 35px;
  cursor: pointer;
}
#videoGrid {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nameHolder {
  align-self: end;
  margin-left: 1rem;
}

#userIcon {
  align-self: end;
}
#deleteButton {
  background: #6d6d6d;
  color: white;
}
#connectCondition {
  display: none;
  color: #fff;
  background-color: #3c3b39;
  width: 14rem;
  height: 2rem;
  border-radius: 4px;
  text-decoration: none;
  padding: 0.4rem;
  font-weight: bold;
}

#alertShare {
  font-size: 2rem;
}
#menuBtn {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
