* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #fff;
  min-height: 667px;
  width: 375px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(49, 49, 49);
  height: 100vh;
}

.button {
  border-style: none;
  background-color: white;
}

.nav__link {
  color: white;
  text-decoration: none;
}
