<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing</title>
  </head>
  <body>
    <article>
      <p>please enter your name</p>
      <input type="text" id="enterName" />
     <a id="nameOKBtn" href="/create-room">Ok!</a>
    </article>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="client.js" defer></script>
  </body>
</html>
